---
import {languages } from '../../data/constants.ts';
import Container from '@components/ui/Container.astro'; 
import Title from '@components/ui/Title.astro';

---

<section      
      class="flex flex-wrap relative overflow-hidden">
      <Container className="items-center justify-center text-center mb-8 pb-16 gap-3 md:gap-20 h-[350px] mt-11">
        <Title className="text-green-400">Idiomas</Title>
        <Container className=" flex justify-center items-center mx-2">
          <div class="flex gap-10 md:flex md:gap-20 pt-8">
            {languages.map((language) => (
              <div                
                class="achievement flex flex-col items-center">
                <div
                  class="circle w-20 h-20 md:w-16 md:h-16 bg-white rounded-full relative flex items-center justify-center 
              text-lg md:text-xl font-bold mb-6 md:mb-8 shadow-lg">
                  <span class="z-10">{language.code}</span>
                  <div
                    class="absolute top-[-6px] left-[-2px] right-[-2px] bottom-[-6px] md:top-[-8px] md:left-[-8px] md:right-[-8px] 
              md:bottom-[-8px] rounded-full
               bg-gradient-to-b from-[#438eff] to-[#60ff82da] shadow-[0_0_20px_rgba(0,200,255,0.8)] z-0"></div>
                </div>
                <span class="text-xl md:text-xl text-white">
                  {language.name}
                </span>
                <span class="text-blue-400 text-lg md:text-xl font-bold">
                  {language.level}
                </span>
              </div>
            ))}
          </div>
        </Container>
      </div>
    </section>