---

import Button from '@components/ui/Button.astro';
import SocialButton from '@components/ui/SocialButton.astro';
import Container from '@components/ui/Container.astro';
import Paragraph from '@components/ui/Paragraph.astro';
import Title from '@components/ui/Title.astro';
//import { projects } from 'src/data/constants';
const projects =[
    {
        title: 'Tienda Virtual',
        description: 'Tienda virtual demonstrativa con login, carrito de compras y passarela de pagos con Nextjs, Typescript, Sanity y Stripe',
        link: '#',
        text: 'Video',
        icon: '/icons/white-github.png',
        image: '/src/assets/projects/mitienda.png',
        repoUrl: 'https://github.com/midudev/porfolio.dev'
    },
    {
        title: 'Ruca Services',
        description: 'Pagina web del cliente Ruca Services, creada con Astro, Typescript, Tailwind CSS y integrada con WhatsApp.',
        link: 'https://rucaservices.com.ar/',
        text: 'Enlace',
        icon: '/icons/white-www.png',
        image: '/src/assets/projects/rucaservices.png',
        repoUrl: 'https://rucaservices.com.ar/'
    },
    {
        title: 'Página Web de Azanza',
        description: 'Página web creada en Wordpress de administración de barrios y condominios para el cliente Azanza Administraciones',
        link: 'https://azanza.com.ar',
        text: 'Enlace',
        icon: '/icons/white-www.png',
        image: '/src/assets/projects/azanza.jpg',
        repoUrl: 'https://azanza.com.ar'
    }
]
---

<section class="flex flex-col relative overflow-hidden">
  <Container className="flex flex-col items-center ps-8 md:mx-auto px-5 py-16 md:flex-row  ">   
          <div
            class="items-center text-center relative lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col }
                mb-16 md:mb-0 ">               
                    <Title className="text-blue-400">            
                    Mis Últimos Proyectos
                    </Title> 
            
            <Container className="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 pt-8 items-center justify-center md:items-start md:text-left">               
          
            <div class="project_box box-01 col-xs-6 col-md-4">
              <div class="inner">
                <a href="#" class="project_click">
                  <div class="flex_this">
                    <h1 class="project_title">Tienda Virtual</h1>
                    <span class="project_link">Video</span>
                    <SocialButton
                     imageSrc="/icons/white-github.png" description="icono de github" />
                  </div>
                </a>
              </div>
              <Paragraph className="text-white mx-4 mb-3 text-start">
                Tienda virtual demonstrativa con login, carrito de compras y
                passarela de pagos con Nextjs, Tpescript, Sanity y Stripe
              </Paragraph>
              <div class="text-start mx-4">
                 <Button imageSrc="/icons/white-github.png" description="icono de github" />  
              </div>
            </div>
             <div class="project_box box-02 col-xs-6 col-md-4">
              <div class="inner">
                <a href="https://rucaservices.com.ar/" class="project_click">
                  <div class="flex_this">
                    <h1 class="project_title">Ruca Services</h1>
                    <span class="project_link">Enlace</span>
                  </div>
                </a>
              </div>
              <Paragraph className="text-white mx-4 mb-3 text-start">
               Pagina web del cliente Ruca Services, creada con Astro,
                Typescript, Tailwind CSS y integrada con WhatsApp.
              </Paragraph>
              <div class="text-start mx-4">
                 <Button imageSrc="/icons/white-www.png" description="icono de pagina web"  />  
              </div>
            </div>
            <div class="project_box box-03 col-xs-6 col-md-4">
              <div class="inner">
                <a href="https://azanza.com.ar" class="project_click">
                  <div class="flex_this">
                    <h1 class="project_title">Azanza Administraciones</h1>
                    <span class="project_link">Enlace</span>
                  </div>
                </a>
              </div>
              <Paragraph className="text-white mx-4 mb-3 text-start">
               Página web creada en Wordpress de administración de barrios y
                condominios para el cliente Azanza Administraciones
              </Paragraph>
              <div class="text-start mx-4">
                 <Button imageSrc="/icons/white-www.png" description="icono de pagina web"  />  
              </div>
            </div>
            
              </div>
            </Container>
        </div>
    </Container>
</section>


<style>
    .project_box .inner {
    background: #333;
    display: block;
    margin: 10px;
    overflow: hidden;
    }
    .project_box .inner .project_click {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    mix-blend-mode: normal;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    }
    .project_box .inner .project_click:hover {
    background-color: rgba(10, 27, 51, 0.9);
    color: #fff;
    mix-blend-mode: hard-light;
    }
    
    .flex_this {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: inherit;
    flex-wrap: inherit;
    height: auto;
    margin: 0;
    padding: 10px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 100%;
    }
    .project_box .inner .project_click:hover .flex_this {
    margin-top: -5px;
    }


    .project_title {
    display: block;
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 20px;
    width: 100%;
    }
    .project_description {
    display: block;
    align-items: center;
    font-weight: 500;
    margin: 0px 25px 20px 25px;
    padding: 2px 20px 0 10px;
    width: 100%;
    }
    .project_link {
    border: 2px solid #b4b3b3;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 auto;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 15px;
    }
    .project_link:hover {
    border: 2px solid #fff;
    color: #fff;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    }

    .box-01 .inner {
    background-image: url("http://localhost:4321/src/assets/projects/mitienda.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .box-02 .inner {
    background-image:  url("http://localhost:4321/src/assets/projects/rucaservices.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .box-03 .inner {
    background-image: url("http://localhost:4321/src/assets/projects/azanza.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    }
</style>