---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error 404" description="P치gina de error de Portafolio de Luciane Damaso">
  
  <section class="flex items-center min-h-[700px] lg:min-h-[850px] p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-6xl">
          <span class="sr-only text-blue-400">Error</span>
          <span class="text-green-700">404</span>
        </h2>
        <p class="text-2xl font-semibold md:text-3xl  text-slate-100">Infelizmente no encontramos esa p치gina.</p>
        <p class="mt-4 mb-8 text-lg text-muted text-slate-100">
          No te preocupes, hay mucha informaci칩n acerca de nuestros servicios en la p치gina de inicio.
        </p>
        <a rel="noopener noreferrer" href={"/"} class="btn font-semibold bg-emerald-600 hover:contrast-150 transition rounded-4xl px-4 py-2 text-white text-lg ">Inicio</a>
       
      </div>
    </div>
  </section>
</Layout>