---
import 'src/styles/global.css';
import '@fontsource-variable/onest'
import Footer from '@components/layout/Footer.astro'
import Header from '../components/layout/Header.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Lu Damaso</title>
	</head>
	<body>		  
		<Header />
		<slot />
		
		
	</body>
</html>

<style>
	html,
	body {
		background-color: ;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
