---
export interface Props{
    className?:string,
    imageSrc?:string,
    text?:string,
    description:string,    
}
const {className, imageSrc, description, text} = Astro.props
---

<button class={`inline-flex text-white bg-blue-500 border-0 me-2 py-2 px-4 
    focus:outline-none hover:bg-blue-600 hover:shadow-[0_0_20px_rgb(0,200,255,0.8)] rounded-full text-md  ${className}`}>
     {imageSrc && <img src={imageSrc} alt={description} class="w-6 h-6"/>}
     {text &&<span class="text-md ms-2">{text}</span> }
</button>


<style>
    button{
        transition: all 0.3s ease;
    }
    button:hover{
        transform: scale(1.1);
    }
</style>